.header {
    margin-top: 3.1rem;
    position: relative;
}

.header__background {
    position: absolute;
    top: -3.1rem;
    right: 0;
    width: 58rem;
    height: 52rem;
    background-color: var(--brown);
    z-index: -1;
}

.header__content {
    display: grid;
    grid-template-areas: "logo . navigation . buttons";
    grid-template-columns: max-content
    minmax(1rem, 9.1rem)
    minmax(12.5rem, 25rem)
    minmax(1rem, 10.6rem)
    auto;

    align-items: center;
    justify-content: space-between;
}

.basket {
    width: 1.5rem;
    height: auto;
}

@media only screen and (max-width: 1200px) {
    .header :after {
        width: 32.1rem;
    }
}

@media only screen and (max-width: 992px) {
    .header__content {
        grid-template-columns: max-content
        minmax(0.1rem, 9.1rem)
        minmax(12.5rem, 25rem)
        minmax(0.1rem, 10.6rem)
        auto;
    }

    .header__background {
        width: 35.1rem;
        height: 41.2rem;
    }
}

@media only screen and (max-width: 780px) {
    .header {
        margin-top: 1rem;
    }

    .header__background {
        width: 45%;
        height: 55rem;
    }

    .logo {
        display: none;
    }

    .header__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

